<div class="contents">
    <img src="logo.jpg" alt="Logo" class="logo">
    <div class="listtag">
        <span (click)="burgermenu()">&#9776;</span>
        <ul *ngIf="navbarlist">
            <li><a class="selected" href="#">Home</a></li>
            <li><a class="selected" href="#">Features</a></li>
            <li><a class="selected" href="#">pricing</a></li>
            <li><a class="selected" href="#">Blog</a></li>
            <li><a class="selected" href="#">About</a></li>
        </ul>
    </div>
    <!-- <div class="social-media">
        <a href="#"><i class="fab fa-youtube fa-3x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
    </div> -->
</div>